# LIST

-->list is dynamic because based on our environment we can increase or decrease the size

-->square brackets with comma separator

In [76]:
l=eval(input("Enter list:"))
print(l)

Enter list:[23,45,6,7,89]
[23, 45, 6, 7, 89]

In [2]:
#list mutability
l=[1,2,3,4,5]
l[2]=10
print(l)

[1, 2, 10, 4, 5]

In [3]:
#IMPORTANT functions of list
# 1)len()
n=[1,2,3,4]
print(len(n))

4

In [8]:
#2)count()
n=[1,2,2,3,3,3]
print(n.count(2))
print(n.count(3))
print(n.count(4))#-->Ans:0

2
3
0

In [11]:
#3)index()
n=[1,2,2,3,3,3]
print(n.index(1))
print(n.index(3))
# print(n.index(5))#Value Error

0
3

In [15]:
#4)append()
l=["m","n"]
l.append("A")
l.append("B")
l.append("C")
print(l)

['m', 'n', 'A', 'B', 'C']

In [16]:
#5)insert()
n=[1,2,3,4,5]
n.insert(1,28)
print(n)
n.insert(10,7)  # if index is equal or greter than length of n then it insert at last.
print(n)
n.insert(-1,9) #insert at second last index.
print(n)

[1, 28, 2, 3, 4, 5]
[1, 28, 2, 3, 4, 5, 7]
[1, 28, 2, 3, 4, 5, 9, 7]

In [19]:
#6)extend()
l1=["Apple","Mango"]
l2=["Orange","watermelon"]
l1.extend("2")
l1.extend(l1)
print(l1)
l1.extend(l2)
l2.extend(l1)
print(l1)
print(l2)

['Apple', 'Mango', '2', 'Apple', 'Mango', '2']
['Apple', 'Mango', '2', 'Apple', 'Mango', '2', 'Orange', 'watermelon']
['Orange', 'watermelon', 'Apple', 'Mango', '2', 'Apple', 'Mango', '2', 'Orange', 'watermelon']

In [1]:
#7)remove()
n=[1,2,1,3,1,1]
n.remove(1)
print(n)
# n.remove(4) #Value Error

[2, 1, 3, 1, 1]

In [2]:
#8)pop()
n=[10,20,30,40,50]
print(n.pop())
print(n.pop())
print(n)

50
40
[10, 20, 30]

In [7]:
y=[]
# print(y.pop())  -->IndexError

In [6]:
n=[10,20,30,40,50]
print(n.pop())
print(n.pop(1))
print(n)
# print(n.pop(10))  -->IndexError

50
20
[10, 30, 40]

In [11]:
#9)clear()
n=[1,2,3,4,5]
n.clear()
print(n)

[]

In [12]:
#10)reverse()
n=[1,3,5,4,2]
n.reverse()
print(n)

[2, 4, 5, 3, 1]

In [13]:
#11)sort()
n=[2,5,1,15,0]
n.sort()
print(n)

[0, 1, 2, 5, 15]

In [14]:
#For descending order
n=[2,5,1,15,0]
n.sort(reverse=True)
print(n)

[15, 5, 2, 1, 0]

In [15]:
x=["D","A","B","C"]
x.sort()
print(x)

['A', 'B', 'C', 'D']

In [17]:
#Mathematicial operation for list

# + ->conxcatination
# * ->repetation
a=[1,2,3]
b=[4,5,6]
print(a+b)
print(a+[4])
# print(a+3) -->TypeError

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4]

In [18]:
print(a*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
#comparasion operation for list
x=["Dog","Cat","Rat"]
y=["Dog","Cat","Rat"]
z=["DOG","CAT","RAT"]
print(x==y)
print(x==z)
print(x!=z)

True
False
True

In [23]:
x=["Dog","Cat","Rat"]
y=["Rat","Cat","Dog"]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

False
False
True
True

In [22]:
x=[50,20,30]
y=[40,50,60,100,200]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

True
True
False
False

In [24]:
x=[50,20,30]
y=[50,20,30,100,200]
print(x>y)
print(x>=y)
print(x<y)
print(x<=y)

False
False
True
True

In [25]:
#membership operator for list
#1)in
#2)not in
n=[10,20,30,40]
print(10 in n)
print(40 not in n)
print(50 in n)

True
False
False

In [26]:
l=[10,20,30,40,50]
x=l
x[2]=100
print(l) #note: if x=l then both have same reference if  x is changed then l will also changed

[10, 20, 100, 40, 50]

In [27]:
l=[10,20,30,40,50]
x=l[:] # or l.copy()
x[2]=100
print(l)
print(x)

[10, 20, 30, 40, 50]
[10, 20, 100, 40, 50]

In [28]:
#nested list
n=[10,20,30,[40,20],[60,70,80]]
print(n[0])
print(n[3])
print(n[3][0])
print(n[4][2])

10
[40, 20]
40
80

In [29]:
n=[10,20,30,[40,20],[60,70,80,[100,200]]]
print(n[4][3][1])

200

In [34]:
#nested list as matrix

n=[[10,20,30],[40,50,60],[70,80,90]]
for i in range(len(n)):
    for j in n[i]:
        print(j,end=" ")
    print()

10 20 30
40 50 60
70 80 90

In [48]:
#WAP to find transpose of matrix
l=[[1,2,3],[4,5,6],[7,8,9]]
print("Original Matrix:")
for i in range(len(l)):
    for j in l[i]:
        print(j,end=" ")
    print()
print("Transposed Matrix:")
for i in range(len(l)):
    for j in range(len(l)):
        if j==(i+1):
            print(l[i][j],end=" ")
    print()

Original Matrix:
1 2 3
4 5 6
7 8 9
Transposed Matrix:
1
5
9

In [46]:
#list comprehensions
# l=[expression for item in list if condition]
s=[x*x for x in range(1,11)]
print(s)
v=[2**x for x in range(1,6)]
print(v)
m=[x for x in s if x%2==1]
print(m)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]
[1, 9, 25, 49, 81]

In [52]:
#transpose of matrix using list comprehension
l=[[1,2,3],[4,5,6],[7,8,9]]
for i in range(len(l[0])):
    new=[row[i] for row in l]
    print(new)

[10, 40, 70]
[20, 50, 80]
[30, 60, 90]

In [54]:
#WAP to print numbers whose  freq greater than a given value k
l=[1,1,1,1,2,2,2,2,3,3,5,5,5,6,7]
n=[]
k=2
for i in l:
    if l.count(i)>k and i not in n:
        n.append(i)
print(n)

[1, 2, 5]

# Dictionary

-->represents a group of object as key-value pairs :rollno-name

-->Duplicate keys not allowed but value can be duplicated.

-->heterogenous objects are allowed for both key and values.

-->Insertion order not preserved.

-->Mutable

-->Index and slicing concept are not applicable

   d={10:"lucky",20:"Arman",30:"Aryan"}

In [56]:
d={}
d1=dict()
print(type(d))
print(d1)

<class 'dict'>
{}

In [57]:
s=set()
print(type(s))
print(s)

<class 'set'>
set()

In [58]:
d={}
d[10]="Arman"
d[20]="Aryan"
d[30]="Lucky"
print(d)

{10: 'Arman', 20: 'Aryan', 30: 'Lucky'}

In [60]:
d=dict([(10,'Arman'), (20,'Aryan'), (30,'Lucky')]) #--> dict(list of tuples)
print(d)

{10: 'Arman', 20: 'Aryan', 30: 'Lucky'}

In [73]:
d={10: 'Arman', 20: 'Aryan', 30: 'Lucky'}
print(d[10])
# print(d[40]) keyError
d[40]="sumit"
print(d)
d[10]="sachin"
print(d)
#To delete the element
del d[40]
print(d)
d.clear()
print(d)
del d
# print(d)#NameError

Arman
{10: 'Arman', 20: 'Aryan', 30: 'Lucky', 40: 'sumit'}
{10: 'sachin', 20: 'Aryan', 30: 'Lucky', 40: 'sumit'}
{10: 'sachin', 20: 'Aryan', 30: 'Lucky'}
{}

In [75]:
#dictionary comprehensions
sqr={x:x*x for x in range(1,6)}
print(sqr)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [79]:
#Important functions of dictionary
#1)dict()

#2)len()
n=len(sqr)
print(n)
#3)clear()

#4)copy()

#5)update()
d={10:20,30:40,50:60}
x={100:50,200:40,30:600}
d.update(x)
print(d)

5
{10: 20, 30: 600, 50: 60, 100: 50, 200: 40}

In [80]:
#6)get()
'''
1)get(key)
1)get(key,default value)
'''
print(d[10])
print(d.get(10))
print(d.get(40))

20
20
None

In [81]:
print(d.get(10,"Guest"))
print(d.get(40,"Guest"))

20
Guest

In [82]:
#7)popitem()

print(d.popitem())

(200, 40)

In [84]:
d={}
# print(d.popitem()) -->keyError

In [87]:
#8)keys()
#9)values()
#10)items()
d={10:"lucky",20:"Arman",30:"Aryan"}
print(d.keys())
print(d.values())
print(d.items())

dict_keys([10, 20, 30])
dict_values(['lucky', 'Arman', 'Aryan'])
dict_items([(10, 'lucky'), (20, 'Arman'), (30, 'Aryan')])

In [90]:
a=1
for i in d.keys():
    print(f"keys-{a}:",i)
    a+=1

keys-1: 10
keys-2: 20
keys-3: 30

In [91]:
a=1
for i in d.values():
    print(f"values-{a}:",i)
    a+=1

values-1: lucky
values-2: Arman
values-3: Aryan

In [93]:
for k,v in d.items():
    print(k,"->",v)

10 -> lucky
20 -> Arman
30 -> Aryan

In [94]:
#11)setdefault()
print(d.setdefault(40,"pavan"))
print(d)
print(d.setdefault(10,"sachin"))
print(d)

pavan
{10: 'lucky', 20: 'Arman', 30: 'Aryan', 40: 'pavan'}
lucky
{10: 'lucky', 20: 'Arman', 30: 'Aryan', 40: 'pavan'}

# Tasks

In [96]:
#WAP that reads the word from paragraph and stores them as key in dictonary and count frequency of word as value
st=input("Enter string:")
d={}
for i in st:
    d[st.count(i)]=i
print(d)

Enter string:dog dog ab ab is not animal
{2: 'i', 3: 'o', 6: ' ', 4: 'a', 1: 'l'}