# Type casting

In [2]:
num1=int(input("Enter data 1: "))
num2=int(input("Enter data 2: "))
sum1=num1+num2
print(sum1)

Enter data 1: 56
Enter data 2: 98
154

In [13]:
#1.int()
print(int(123.987))
print(int(True))
print(int(False))
print(int("10"))
#print(int("10.5"))  -->value error
#print(int("0B1111"))-->error
print(int(10.5)) 
print(int(0B1111))

123
1
0
10
10
15

In [14]:
#2.float()
print(float(123.987))
print(float(True))
print(float(False))
print(float("10"))
print(float("10.5"))
#print(int("0B1111"))--> value error
 
print(float(0B1111))

123.987
1.0
0.0
10.0
10.5
15.0

In [16]:
#3.bool()

print(bool(0))
print(bool(1))
print(bool(10))
print(bool(10))
print(bool(0.178))
print(bool(0.0))
print(bool("True"))
print(bool("False"))
print(bool(""))
print(bool(0B1111))

False
True
True
True
True
False
True
True
False
True

In [18]:
#3.str()
print(str(10))
print(str(10.5))
print(str(True))
print(str(0B1111))

10
10.5
True
15

# Python Operators

### + :-Addition    (string :- concatenation)
### - :-Subtraction
### * :-multiplication  (String :- string multiplication but one of it sholud be integer ex: "a"*2=aa)
### / :-division
### % :-module
### // :-floor division
### ** :power or exponent

In [23]:
num1=int(input("Enter data 1: "))
num2=int(input("Enter data 2: "))
print("Addition is: ",num1+num2)
print("Subtraction is: ",num1-num2)
print("multiplication is:",num1*num2)
print("Division is: ",num1/num2)
print("Modulus is: ",num1%num2)
print("Floor division is: ",num1//num2)
print("power is: ",num1**num2)

Enter data 1: 9
Enter data 2: 8
Addition is:  17
Subtraction is:  1
multiplication is: 72
Division is:  1.125
Modulus is:  1
Floor division is:  1
power is:  43046721

# Comparison or Relational Operator
 ### > :-greater than
 ### < :-less than
 ### >= :-greater than or equal to
 ### <= :-less than or equal to
 ### == :-Equal to
 ### != :-Not equal to

In [27]:
num1=(input("Enter data 1: "))
num2=(input("Enter data 2: "))
print("num1>num2 is: ",num1>num2)
print("num1<num2 is: ",num1<num2)
print("num1>=num2 is:",num1>=num2)
print("num1<=num2 is: ",num1<=num2)
print("num1==num2 is: ",num1==num2)
print("num1!=num2 is: ",num1!=num2)

#note :- In string comparison will be according to ascii value

Enter data 1: "Arman"
Enter data 2: "Aryan"
num1>num2 is:  False
num1<num2 is:  True
num1>=num2 is: False
num1<=num2 is:  True
num1==num2 is:  False
num1!=num2 is:  True

In [29]:
num1=int(input("Enter data 1: "))
num2=int(input("Enter data 2: "))
print("num1>num2 is: ",num1>num2)
print("num1<num2 is: ",num1<num2)
print("num1>=num2 is:",num1>=num2)
print("num1<=num2 is: ",num1<=num2)
print("num1==num2 is: ",num1==num2)
print("num1!=num2 is: ",num1!=num2)

Enter data 1: 45
Enter data 2: 23
num1>num2 is:  True
num1<num2 is:  False
num1>=num2 is: True
num1<=num2 is:  False
num1==num2 is:  False
num1!=num2 is:  True

In [30]:
print(True>=True)
print(10>=True)  #10>1(True) :-True
print(False>=True)
print(10<20<30)
print(10<20<30>40)

True
True
False
True
False

# Logical operators

In [31]:
'''
1.boolean type behavior
and :-if both arguments are true then only results is True.
or  :-if atleast one arguments is True then result is True
not :-complement

'''
print(True and False)
print(True or False)
print(not False)

False
True
True

In [40]:
#2. non boolean type behaviour
#1. x and y :- if x is evaluate to False then result is x,otherwise True 
print(10 and 20)
print(0 and 20)

#2. x or y :- if x is evaluate to True then result is x,otherwise False
print(10 or 20)
print(0 or 20)

20
0
10
20

In [43]:
'''
3. ternary operators(conditional)

Syntax:- x=first value if condition else second value

'''
a,b=10,20
x=30 if a<b else 40
print(x)

30

In [44]:
#Assignment operator
x=10   # =
x+=10  # x=x+10   +=
x-=10  # x=x-10   -=
x*=10  # x=x*10   *=
x/=10  # x=x/10   /=
x%=10  # x=x%10   %=
x//=10 #x=x//10  //=
x**=10 #x=x**10  **=

In [58]:
# membership operators
#in :-returns True if given object present in specific collection
# not in :-returns True if given object not present in specific collection

x="Hello learning Python is very Easy"
print("h" in x)
print("d" in x)
print("d" not in x)
print("python" in x)
print("" in x)

True
False
True
False
True

In [59]:
a=30
b=20
c=10
d=5
print((a+b)*c/d)
print((a+b)*(c/d))
print(a+(b*c)/d)

100.0
100.0
70.0

# Excercise

In [60]:
#WAP to find the area of a triangle
b=float(input("Enter base of triangle: "))
h=float(input("Enter height of triangle: "))
print("area of triangle is: ",0.5*b*h)

Enter base of triangle: 1
Enter height of triangle: 1
area of triangle is:  0.5

In [62]:
#WAP to find area of circle
import math
r=float(input("Enter radius of circle: "))
print("area of circle is: ",math.pi*r*r)

Enter radius of circle: 5.3
area of circle is:  88.24733763933727

In [66]:
#convert Farhenheit to celcius and vice versa
cel=float(input("Enter tempreture in celcius: "))
far=float(input("Enter tempreture in farhenheit: "))
print(cel,"celcius =",cel+32*1.8,"far")
print(far,"Farhenheit =",far-32*(5/9),"cel")

Enter tempreture in celcius: 23
Enter tempreture in farhenheit: 120
23.0 celcius = 80.6 far
120.0 Farhenheit = 102.22222222222223 cel

In [76]:
day=int(input("Enter number of days: "))
year=day//365
month=(day-year*365)//30
rem_day=(day-year*365)%30
print("There are",year,"year ",month," month ",rem_day," days "," in given days ",day)

Enter number of days: 850
There are 2 year  4  month  0  days   in given days  850